<template>
    <div>
        <div class="card-mission">
            <div class="main-info">
                <h2>{{missionUser.role}}</h2>
                <h3>{{missionUser.client}} - {{missionUser.city}}</h3>
                <div>
                    <createMission
                        v-bind:isAnUdapte='true'
                        v-bind:missionUser="missionUser"
                    />
                </div> 
            </div>
            <div class="descrip">
                <p>{{missionUser.description}}</p>
            </div>
            <div class="techUse">
                <div class="tech" v-for="(tech, index) in missionUser.techs" :key='index'>
                    <font-awesome-icon :icon="['fab', iconTech(index)]" />
                </div>      
            </div>
        </div>
    </div>
</template>

<script>
import createMission from '../mission/createMission'

export default {
    name: "cardMission",
    props: ['missionUser', 'listTechs'],
    components:{
        createMission
    },
    methods: {
        iconTech(index){
            let icon
            this.listTechs.forEach(element => {
                if(element.name == this.missionUser.techs[index]){
                    icon = element.icon
                }
            });
            return icon
        }
    }
}
</script>

<style scoped>
.card-mission{
    display: flex;
    align-items: flex-start;
    color: black;
    border:0.5px solid black;
    border-radius: 5px;
    padding: 20px 15px;
}
.card-mission .main-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    width: 30%;
    padding: 0 20px;
}
.main-info h2{
    font-size: 30px;
}
.main-info h3{
    font-size: 20px;
    font-weight: 300;
}
.card-mission .descrip{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: flex-start;
    align-content: flex-start;
    text-align: left;
    font-size: 14px;
}
.card-mission .descrip h3{
    font-size: 18px;
    font-weight: 500
}
.card-mission .techUse{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 30%;
    flex-wrap: wrap;
}
.techUse span{
    font-size: 17px;
}
.tech{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
    margin: 0 10px;
}
</style>