<template>
    <div class="tech">
        <font-awesome-icon :icon="['fab', tech.icon]" />
        <span class="tech-name">{{tech.name}}</span>
    </div>
</template>

<script>
export default {
    name: 'cardTech',
    props: ['tech']
}
</script>

<style scoped>
.tech-name{
    margin-left: 10px;
    font-size: 25px
}
.tech{
    display: flex;
    align-items: center;
}
</style>