<template>
    <div>
        <div class="back">
            <span>
                <font-awesome-icon v-on:click="goBack" icon="long-arrow-alt-left"/>
            </span> 
        </div>
        <div class="header-profile">
            <div class="profil-user">
                <div class="icon-user">
                    <font-awesome-icon icon="user-circle"/>
                </div>
                <div v-if="!udapteMode" class="info-user">
                    <strong>{{ userDisplay.firstname }} {{ userDisplay.name }}</strong>
                    <div>
                        <span class="city">{{ userDisplay.city }}</span>
                        <span class="role">{{ userDisplay.role }}</span>
                    </div>
                </div>
                 <div v-if="udapteMode && udaptePermission">
                    <div>
                        <input type="text" name="firstname" v-model="firstname" placeholder="Prénom" required>
                        <input type="text" name="name" v-model="name" placeholder="Nom" required>
                    </div>
                    <div>
                        <input type="text" name="city" placeholder="Ville" v-model="city">
                        <input type="text" name="role" placeholder="Role" v-model="role">
                    </div>
                    {{errorMessage}}
                </div>
            </div>
            <div class="contact">
                <span>
                    <a v-bind:href="`mailto:${userDisplay.email}`">{{userDisplay.email}}</a>
                </span>
                <span>
                    <a v-bind:href='`slack://user?team=T84N44350&id=${idUserSlack}`'>
                        Contacter {{ userDisplay.firstname }} sur Slack
                    </a>
                </span>
                <button v-if="udaptePermission && !udapteMode" v-on:click="udapteInfoProfile">Modifier les informations</button>
                <button class="stop" v-if="udaptePermission && udapteMode" v-on:click="stopUdapte">Annuler les modfications</button>
                <button class="validation" v-if="udaptePermission && udapteMode" v-on:click="udapteProfile">Valider les modifications</button>
            </div>
        </div>
    </div>
</template>

<script>
import {configHeader} from '../../auth/config'
import axios from 'axios'
import {url} from '../../config/environment'

export default {
    name: "headerProfile",
    data(){
        return{
            udapteMode: false,
            firstname: '',
            name: '',
            city: '',
            role: '',
            errorMessage: ''
        }
    },
    props: ["userDisplay", "idUserSlack", "udaptePermission"],
    methods: {
        goBack(){
            this.$router.go(-1)
        },
        udapteInfoProfile(){
            this.firstname = this.userDisplay.firstname
            this.name = this.userDisplay.name
            this.city = this.userDisplay.city
            this.role = this.userDisplay.role
            this.udapteMode = true
        },
        stopUdapte(){
            this.udapteMode = false
        },
        async udapteProfile(){
            try{
                await axios.put(`${url}/users`, {email: this.userDisplay.email, name: this.name ,firstname : this.firstname, city: this.city, role: this.role}, configHeader())
                this.udapteMode = false
                this.errorMessage = ''
                await this.$emit('loadUserProfile')
            }catch(err){
                throw err
                this.errorMessage = 'La modification de votre profil a rencontré un problème'
            }
        }
    }
}
</script>

<style scoped>
    .back{
        display: flex;
        justify-content: flex-start;
    }
    .back span{
        font-size: 50px;
        cursor: pointer;
    }
    .back span:hover{
        color: rgba(0, 0, 0, 0.575)
    }
    .header-profile{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0 10px 0;
        margin: 0;
    }
    .profil-user{
        display: flex;
        align-items: center;
    }
    .icon-user{
        font-size: 130px;
    }
    .info-user{
        font-size: 24px;
        margin-left: 25px;
        display: flex;
        flex-direction: column;
        align-items: flex-start
    }
    .info-user div{
        display: flex;
        justify-content: flex-start;
    }
    .info-user span{
        font-size: 20px;
    }
    .role{
        margin-left: 15px;
    }
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
    input{
        height: 30px;
        width: 200px;
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.342);
        margin: 5px 10px;
    }
    .info-user-udapte{
        display: flex;
    }
    button{
        border-radius: 7px;
        padding: 4px 10px;
    }
    .stop{
        background-color: rgb(218, 59, 59);
        color: white
    }
</style>