<template>
    <div class="techs">
        <div class="title">
            <h1>Technologie Maitrisées</h1>
            <span v-if="udaptePermission">
                <addTech
                v-bind:techUser="techUser"
                v-bind:listTechs="listTechs"
                v-on="$listeners"
                />
            </span>
        </div>
        <div class="main-tech">
            <div v-for="(tech ,index) in techUser" :key="index">
                <cardTech
                    v-bind:tech="tech"
                />
            </div>
        </div>
    </div>
</template>

<script>
import cardTech from './cardTech'
import addTech from '../tech/addTech'

export default {
    name: 'listTechUser',
    components:{
        cardTech,
        addTech
    },
    props: ['techUser', 'udaptePermission', 'listTechs'],
}
</script>

<style scoped>
h1{
    text-align: left;
    font-size: 35px;
    margin-right: 10px;
}
.techs{
    margin: 15px 60px;
}
.main-tech{
    display: flex;
    justify-content: space-around;
    font-size: 35px;
    align-content: center;
    margin: 25px 0;
}
.title{
    display: flex;
    align-items: center;
}
.title span{
    font-size: 21px;
    cursor: pointer;
}
.title span:hover{
    opacity: 0.7;
}
</style>