<template>
    <div class="mission">
        <div class="title">
            <h1>Missions</h1>
            <span v-if="udaptePermission">
                <createMission
                v-on="$listeners"
                />
            </span>
        </div>
        <div v-bind:style="{display: isShow}" v-for="(missionUser, index) in missionsUser" :key="index">
            <div v-if="showHistory(index)">
                <cardMission
                v-bind:isShow='isShow'
                v-bind:missionUser="missionUser"
                v-bind:listTechs="listTechs"
                />
                {{missionUser.isCurrent}}
            </div>
            <div v-if="index == missionsUser.length - 1 && missionsUser.length > 1">
                <div v-on:click="isShow = !isShow">
                    <p class="linkMission" v-show="!isShow">Cliquez pour afficher plus de missions</p>
                    <p class="linkMission" v-show="isShow">Masquer les missions</p>
                </div>
            </div>
            
        </div>
         <div v-if="!missionsUser.length">
            Cliquez pour renseigner votre mission actuelle
        </div> 
    </div>
</template>

<script>
import cardMission from "./cardMission"
import createMission from "../mission/createMission"

export default {
    name: "listMissionUser",
    data(){
        return{
            isShow: false,
        }
    },
    components:{
        cardMission,
        createMission
    },
    props: ['missionsUser', 'techsMission', 'listTechs', 'udaptePermission'],
    methods:{
        showHistory(index){
            if(index < 1 && !this.isShow){
                return true
            } else if(this.isShow){
                return true
            }else{
                return false
            }
        }
    }
}
</script>

<style scoped>
.mission{
    margin: 15px 60px;
}
h1{
    text-align: left;
    font-size: 35px;
    margin-right: 12px;
}
.missionFor:nth-child(2){
    display: block;
}
.missionFor:nth-child(3){
    display: block;
    opacity: 0.3;
}
.missionFor{
    display: none;
}
.linkMission{
    cursor: pointer;
    margin-top: 10px;
}
.linkMission:hover{
    text-decoration: underline
}
.title{
    display: flex;
    align-items: center;
}
.title span{
    font-size: 21px;
    cursor: pointer;
}
.title span:hover{
    opacity: 0.7;
}
</style>