<template>
    <div v-on:click="goToProfile(user.email)" class="card-user">
        <div class="card-info">
            <p class="name">{{ user.name }} {{ user.firstname }}</p>
            <p>{{ user.city }}</p>
            <p>{{ user.currentclient }} {{ user.role }}</p>
        </div>
        <div class="tech-list">
            <ul v-bind:key="index" v-for="(tech, index) in user.maintech">
                <li> {{ tech }} </li>
            </ul>
        </div>
        <div class="contact-btn">
            <contactUser v-bind:email="user.email"/>
        </div>
    </div>
</template>

<script>
import contactUser from './contactUser'

export default {
    name: 'cardUser',
    props: ['user'],
    components: {
        contactUser
    },
    methods: {
        goToProfile(email){
            this.$router.push({
                name: 'profile',
                params: {
                    email: email
                }
            }) 
        }, test(){
            console.log('click')
        }
    }
}
</script>

<style scoped>
    .card-user{
        display: flex;
        color: white;
        background-color: #49C1CC;
        border-radius: 5px;
        margin: 20px;
        border:1px solid white;
        cursor: pointer;
    }
    .card-user:hover{
        color: #49C1CC;
        background-color: white;
        border:1px solid #49C1CC;
    }
    .card-info{
        width: 40%;
        text-align: left;
    }
    .card-info p{
        padding: 5px 30px;
        margin: 0;

    }
    li{
        padding: 8px;
        font-weight: bold;
        font-size: 18px;
    }
    .card-info p:first-child{
        padding: 10px 30px;
        font-weight: bold;
    }
    .card-info p:last-child{
        font-weight: bold;
    }
    .tech-list{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        width: 40%;
        padding: 15px;
    }
    .name{
        font-size: 30px;
        margin: 0;
    }
    ul{
        text-decoration: none;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    button{
        padding: 5px 0px;
        background-color: #49C1CC;
        color: white;
        min-width: 100px;
        border-radius: 10px;
        font-size: 15px;
        font-weight: bold;
        border:1px solid white;
    }
    button:hover{
        background-color: #49C1CC;
        color: white;
        border:1px solid white;
    }
    .contact-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
    }
</style>