<template>
    <div >
        <button @click.stop="showContactAction" class="btn-contact">Contact</button>
        <b-modal v-model="modalShow">
            <div class="contact-card">
                    <span>
                        <a v-bind:href="`mailto:${email}`">{{email}}</a>
                    </span>
                    <span>
                        <a v-bind:href='`slack://user?team=T84N44350&id=${idUserSlack}`'>
                            <img src="https://www.stickpng.com/assets/images/5cb480cd5f1b6d3fbadece79.png" alt="">
                        </a>
                    </span>
                    
            </div>
        </b-modal>
    </div>
</template>

<script>
import {loadIdSlack} from "../../methods/externalApiCall"

export default {
    name: 'contactUser',
    data() {
        return{
            modalShow : false,
            idUserSlack: ''
        }
    },
    props: ["email"],
    methods: {
        async getIdSlack() {
            this.idUserSlack = await loadIdSlack(this.email)
        },
        showContactAction() {
            this.modalShow = ! this.modalShow
            this.getIdSlack()
        }
    }
}
</script>

<style scoped>
    .btn-contact{
        color: white;
        background-color: #49C1CC;
        border: 1px solid white;
        padding: 5px 20px;
        border-radius: 10px;
    }
    .contact-card{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 30px 0;
    }
    span{
        font-size: 20px;
        font-weight: 200;
    }
    img{
        width: 70px;
    }
    img:hover{
        opacity: 0.85;
    }
</style>