<template>
    <div class="listUser">
        <virtual-list :size="105" :remain="6">
            <div v-bind:key="user.id" v-for="user in usersDisplay">
                <cardUser v-bind:user="user"/>
            </div>
        </virtual-list>
    </div>
</template>

<script>
import cardUser from "./cardUser"
import virtualList from 'vue-virtual-scroll-list'

export default {
    name: 'listUser',
    props: ['usersDisplay'],
    components: {
        cardUser,
        'virtualList': virtualList,
    }
}
</script>

<style scoped>
    .listUser{
        border-radius: 7px;
    }
</style>