<template>
    <div class="header">
         <div class="user">
                <font-awesome-icon class="icon_profile" icon="user-circle" v-on:click="goToEditProfile"/>
        </div>
        <div class="sign-out">
            <button v-on:click="signOut">Déconnexion</button>
        </div>
    </div>
</template>

<script>
import {signOut, checkRefreshTokenAndRefresh} from '../../auth'
import axios from 'axios'
import {url} from "../../config/environment"
import {configHeader} from '../../auth/config'

export default {
    name: 'headerApp',
    data(){
        return{
            user: {}
        }
    },
    methods: {
        async goToEditProfile(){
            console.log(this.$router)
            if(this.$router.history.current.path == `/profile/bduhamel@keyneosoft.fr`){
                console.log('yes')
            } 
                await this.$router.push({name: `profile`, params: {email:this.user.email}, key: this.$router.history.current.path})
            
        },
        async signOut(){
            this.$gAuth.signOut()
            await signOut()
            await this.$router.push({name: 'login'})

        }, loadUserMe(){
            axios.get(`${url}/me`, configHeader())
                .then(response=>{
                    this.user = response.data
            }).catch(err =>  {
                checkRefreshTokenAndRefresh()
            })
        }
    }, mounted(){
        this.loadUserMe()
    }
}
</script>

<style scoped>
    .header{
        display: flex;
        justify-content: space-between;
        padding: 20px 30px 20px 20px;
        background-color: #49C1CC;
    }
    .user{
        font-size: 50px;
        display: flex;
        align-items: center;
        color: white;
    }
    .user span{
        font-size: 22px;
        margin-left: 15px;
        color: white;
    }
    .sign-out{
        display: flex;
        align-items: center;
    }
    .sign-out button{
        background-color: white;
        color: #49C1CC;
        padding: 6px 12px;
        border-radius: 8px;
    }
    .icon_profile{
        cursor: pointer;
    }
    .icon_profile:hover{
        opacity: 0.8;
    }
</style>