<template>
    <div>
        <headerApp />
        <div class="main-card">
            <headerProfile 
            v-bind:userDisplay="userDisplay"
            v-bind:idUserSlack="idUserSlack"
            v-bind:udaptePermission="udaptePermission"
            v-on:loadUserProfile="loadUserProfile"
            />
            <listMissionUser
            v-bind:missionsUser="missionsUser"
            v-bind:listTechs="listTechs"
            v-bind:udaptePermission="udaptePermission"
            v-on:loadUserProfile="loadUserProfile"
            />
            <listTechUser
            v-bind:techUser="techUser"
            v-bind:udaptePermission="udaptePermission"
            v-bind:listTechs="listTechs"
            v-on:loadUserProfile="loadUserProfile"
            />
        </div>
    </div>
</template>

<script>
import headerApp from './headerApp'
import headerProfile from '../profile/headerProfile'
import listTechUser from '../profile/listTechUser'
import listMissionUser from '../profile/listMissionUser'
import axios from "axios"
import {loadIdSlack} from "../../methods/externalApiCall"
import {url} from "../../config/environment"
import {configHeader} from "../../auth/config"
import {getMe} from "../../auth"

// This is the component Root of Profile
// @group Layout
export default {
    name: "profileUserPage",
    data(){
        return{
            userDisplay: [],
            idUserSlack: '',
            missionsUser: [],
            listTechs: [],
            techUser: [],
            udaptePermission: false
        }
    },
    components: {
        headerApp,
        headerProfile,
        listMissionUser,
        listTechUser,
    },
    watch: {
        // L'attribut watch est appellé au moment où la navigation et la route ont ete modifié
        '$route': 'loadUserProfile'
    },
    props: [
        // email is a sting and used to identificate user
        'email'
    ],
    methods: {
        /**
         * @vuese
         * Load User from the API identify by his email. We also check here if 
         * this user has the permession to udapte the profile or not. We also trigger Mission and techs 
         * at the end.
         * 
         */
        async loadUserProfile(){
            try{
                const response = await axios.get(`${url}/users/${this.email}`, configHeader())
                this.userDisplay = response.data
                const responseMe = await getMe()
                if(responseMe.data.email == this.userDisplay.email){
                    this.udaptePermission = true
                } else {
                    this.udaptePermission = false
                }
                this.loadMissions()
                await this.filterTechsFromUser()
            }
            catch(error){
                throw error
            }
        },
        /**
         * @vuese
         * Get Channel Slack of the User thanks to this iDSlack extract from his email
         */
        async getIdSlack() {
            try{
               this.idUserSlack = await loadIdSlack(this.email)
            }catch{
                throw error
            }
        },
        /**
         * @vuese
         * Load mission from API and store data into missionUser
         */
        async loadMissions(){
            try{   
                const response = await axios.get(`${url}/missions/${this.userDisplay.id}`, configHeader())
                this.missionsUser = response.data
            }catch(error){
                throw error
            }
        },
         /**
         * @vuese
         * Load techs from API and store data into listTechs
         */
        async loadTechs(){
            try{
                const response = await axios.get(`${url}/techs`, configHeader())
                this.listTechs = response.data
            }catch(error){

            }   
        },
         /**
         * @vuese
         * Filter techs of user from user.maintech and listTechs
         */
        async filterTechsFromUser(){
            this.techUser = []
            for(const techUser in this.userDisplay.maintech){
                this.listTechs.forEach(tech =>{
                    if(tech.name == this.userDisplay.maintech[techUser]){
                        this.techUser.push(tech)
                    }
                })
            }

        }
    }, mounted(){
        this.loadUserProfile()
        this.loadTechs()    
        this.getIdSlack()
    }
}
</script>

<style scoped>
.main-card{
    margin: 0px 120px;
    display: flex;
    flex-direction: column;
}
</style>