<template>
    <div>
        <headerApp/>
        <div class="main-card">
            <filterMenu 
            v-on:loadUsers="loadUsers" 
            v-on:filterUserByTech="filterUserByTech" 
            v-on:filterUsersByCityAndClient="filterUsersByCityAndClient"
            v-bind:usersDisplay="usersDisplay"
            v-bind:usersData="usersData"
            v-on:loadCitiesAndClientsFromUsers="loadCitiesAndClientsFromUsers"
            v-bind:citiesDisplay="citiesDisplay"
            v-bind:clientsDisplay="clientsDisplay"
            v-bind:listTechs="listTechs"/>
            <listUser v-bind:usersDisplay="usersDisplay"/>
        </div>
    </div>
</template>

<script>
import filterMenu from "../filter/filterMenu"
import listUser from "../user/listUser"
import axios from "axios"
import {url} from "../../config/environment"
import headerApp from "./headerApp"
import {configHeader} from "../../auth/config"

// This is the component Root of SearchUser and Display ListUser
// @group Layout
export default {
    name : 'searchUserPage',
    components: {
        headerApp,
        filterMenu,
        listUser
    },
    data(){
        return{
            usersDisplay : [],
            usersData : [],
            searchTech: false,
            citiesDisplay : [],
            clientsDisplay : [],
            listTechs: []
        }
    },
    methods: {
        /**
         * @vuese
         * Load User from the API and store loaded data into local data. Expects a baerer idToken.
         */
        async loadUsers(){
            try{
                const response = await axios.get(`${url}/users/`, configHeader())
                this.usersDisplay = response.data
                this.usersData = response.data
            } catch(error){
                console.error(error)
            }
        },
        /**
         * @vuese
         * Filter UserDisplay by Tech
         * @arg tech is a string of a tech
         * 
         */
        filterUserByTech(tech){
            if(this.searchTech){
                this.usersDisplay = this.usersData
                this.searchTech = !this.searchTech
            }
            let userTransition = []
            for(let userDisplay of this.usersDisplay){
                if(userDisplay.maintech){
                    userDisplay.maintech.forEach(onetech => {
                        if(onetech == tech){
                            userTransition.push(userDisplay)
                        }
                    })
                this.usersDisplay = userTransition
                this.searchTech = true
                }
            }
        },
        /**
         * @vuese
         * Generic method able to filter userList from an element
         * @arg filterElement is the array of element filter, 
         * source is a string element of the filter, 
         * usersFilter is the array of user used in the filter process
         * 
         */
        filterList(filterElement, source, usersFilter){
            let userTransition = []
            for(let userFilter of usersFilter){
                filterElement.forEach(element =>{
                    if(userFilter[source] == element){
                        userTransition.push(userFilter)
                    }
                })
            }
            return userTransition
        },
        /**
         * @vuese
         * Filter UserDisplay by Clients or Cities
         * @arg cities is an array of city,
         * clients is an array of client
         * 
         */
        filterUsersByCityAndClient(cities, clients){
            let usersFilter = this.usersData
            if(cities.length){
                usersFilter = this.filterList(cities, 'city', usersFilter)
            }
            if(clients.length){
                usersFilter = this.filterList(clients, 'currentclient', usersFilter)
            }
            this.usersDisplay = usersFilter
            this.searchTech = false
        },
        /**
         * @vuese
         * it's a dynamic function able to load cities or users from list of users
         * 
         */
        loadCitiesAndClientsFromUsers(){
            this.citiesDisplay = []
            this.clientsDisplay = []
            for(let userData of this.usersDisplay){
                let hasToBePushed = true
                let strindcity= 'city'
                this.citiesDisplay.forEach(city => {
                    if(city == userData[strindcity]){
                        hasToBePushed = false
                    }
                })
                if(hasToBePushed){
                    this.citiesDisplay.push(userData.city)
                }  
            }
            for(let userData of this.usersDisplay){
                let hasToBePushed = true
                this.clientsDisplay.forEach(city => {
                    if(city == userData.currentclient){
                        hasToBePushed = false
                    }
                })
                if(hasToBePushed){
                    this.clientsDisplay.push(userData.currentclient)
                }  
            }
        },
        /**
         * @vuese
         * load techs from techs db and store into local array of techs
         */
        async loadTechs(){
            try{
                const response = await axios.get(`${url}/techs`, configHeader())
                this.listTechs = response.data
            }catch(error){
                throw error
            }
            
        }
    },
    mounted(){
        this.loadUsers()
        this.loadTechs()
    },
}
</script>

<style scoped>
.main-card{
    margin: 0px 120px;
    display: flex;
    flex-direction: column;
}
</style>