<template>
    <div class="form-general">
        <div class="form-filter">
            <div class="filter" v-bind:key="`city${index}`" v-for="(city, index) in citiesDisplay">
                <input type="checkbox" v-bind:id="city" v-bind:value="city" v-model="checkedCities" v-on:change="loadCitiesAndClientsFromUsersEvent(checkedCities, checkedClients)">
                <label v:bind:for="city">{{city}}</label>
            </div>
        </div>
        <div class="form-filter">      
            <div class="filter" v-bind:key="`client${index}`" v-for="(client, index) in clientsDisplay">
                <input type="checkbox" v-bind:id="client" v-bind:value="client" v-model="checkedClients" v-on:change="loadCitiesAndClientsFromUsersEvent(checkedCities, checkedClients)">
                <label v:bind:for="client">{{client}}</label>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: "filterCityClient",
    props: ['citiesDisplay', 'clientsDisplay'],
    data(){
        return{
            checkedCities: [],
            checkedClients : []
        }
    },methods: {
        loadCitiesAndClientsFromUsersEvent(checkedCities, checkedClients){
            this.$emit('filterUsersByCityAndClient', checkedCities, checkedClients)
            this.$emit('loadCitiesAndClientsFromUsers')
        }
    }
}
</script>

<style scoped>
    .form-filter{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .filter{
        margin: 2px 10px;
    }
    .filter input{
        margin-right: 5px;
    }
    button{
        text-align: left;
        width: 15%;
        text-align: center;
        border-radius: 10px;
    }
    button:hover{
        background-color: #49C1CC;
        color: white;
    }
    .form-general{
        display: flex;
        flex-direction: column;
        
    }
</style>