<template>
    <div>
        <div class="button-card">
            <formForFilterByTech 
            v-bind:usersDisplay="usersDisplay" 
            v-on:loadUsersForTechRequest="loadUsersForTechRequest"
            v-bind:listTechs="listTechs"/>
            <div class="filter-button">
                <span>
                    <font-awesome-icon icon="filter" v-on:click="loadCitiesAndClientsFromUsersRequest"/>
                </span>
            </div>
            <template v-if="usersDisplay != usersData">
                <resetFilter v-bind:reset="reset"/>
            </template>
        </div>
        <div v-show="showFilterCityClient">
            <filterCityClient 
            v-bind:citiesDisplay="citiesDisplay"
            v-bind:clientsDisplay="clientsDisplay" 
            v-on="$listeners"
            v-on:loadCitiesAndClientsFromUsersRequest="loadCitiesAndClientsFromUsersRequest"/>
        </div>
    </div>
</template>

<script>
import formForFilterByTech from "./formForFilterByTech"
import resetFilter from "./resetFilter"
import filterCityClient from "./filterCityClient"

export default {
    name: "filterMenu",
    data() {
        return{
            showReset: false,
            modalShow: false,
            switchForm : false,
            showFilterCityClient: false,
        }
    },
    props: ['usersDisplay', "usersData", "citiesDisplay", "clientsDisplay", "listTechs"],
    components: {
        formForFilterByTech,
        resetFilter,
        filterCityClient
    },
    methods: {
        reset(){
            this.$emit('loadUsers')
            this.showReset = false
            this.showFilterCityClient = false
        },
        loadUsersForTechRequest(tech){
            this.$emit('filterUserByTech' , tech)
            this.modalShow = false
            this.name = ''
            this.searchTech = []
            this.showReset = true
        },
        loadCitiesAndClientsFromUsersRequest(){
            this.$emit('loadCitiesAndClientsFromUsers')
            this.showFilterCityClient = !this.showFilterCityClient
        }
    }
}
</script>

<style scoped>
    .filter-button{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        font-size: 30px;
        padding-left: 20px;
        color: rgb(61, 170, 180);
    }
    .filter-button span:hover{
        opacity: 0.90;
    }
    .filter-button span{
        cursor: pointer;
    }
    .button-card{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
</style>