<template >
    <div class="tech-global">
        <button @click="showListTechs">S.O.S Mob</button>
        <b-modal v-model="modalShow">
            <div class="input-card">
                <input type="text" placeholder="Je cherche de l'aide sur.." v-on:keyup="filterTechsFromInput">
            </div>
               <div v-if="name == ''" class="tech-container">
                    <div v-bind:key="item" v-for="(tech, item) in listTechsAvailable">
                        <div v-on:click="loadUsersFromTech(tech.name)" class="card-tech">
                            <span class="icon">
                                <font-awesome-icon :icon="['fab', tech.icon]" />
                            </span>
                            <span>{{tech.name}}</span>
                        </div>
                    </div>
                </div>
                <div class="tech-container">
                    <div v-bind:key="item" v-for="(tech, item) in searchTech" >
                        <div v-on:click="loadUsersFromTech(tech.name)" class="card-tech">
                            <span class="icon">
                                <font-awesome-icon :icon="['fab', tech.icon]" />
                            </span>
                            <span>{{tech.name}}</span>
                        </div>
                    </div>
                </div>
                <div v-if="searchTech.length == 0 && name != ''" class="not-found">
                    Désolé, aucun collaborateur maitrise cette technologie
                </div>
        </b-modal>
    </div>
</template>

<script>
import resetFilter from './resetFilter'

export default {
    name: "formForFilterByTech",
    data() {
      return {
        modalShow: false,
        searchTech: [],
        listTechsAvailable: [],
        name : '',
      }
    },
    props:['usersDisplay', 'listTechs'],
    components:{
        resetFilter
    },
    methods: {
        loadUsersFromTech(tech){
            this.modalShow = !this.modalShow
            this.$emit('loadUsersForTechRequest',tech)
        },
        filterTechsFromInput(event){
            this.name = event.target.value.toLowerCase().trim()
            for(let onetech of this.listTechsAvailable){
                let nameTech = onetech.name.toLowerCase()
                if(this.name){
                    if(nameTech.includes(this.name) ){
                        if(this.searchTech.length != 0){
                            this.searchTech.push(onetech)
                            for(let techSearch of this.searchTech){
                                if(nameTech == techSearch.name.toLowerCase()){
                                    this.searchTech.splice(this.listTechsAvailable.indexOf(onetech), 1)
                                } else {}
                            }
                        }else{
                            this.searchTech.push(onetech)
                        }
                    }else{
                        this.searchTech.splice(this.listTechsAvailable.indexOf(onetech), 1)
                    }
                }else{
                    this.searchTech = []
                }
            }
        },
        loadAvailableTechsFromUsers() {
            const techsArrayTransition = []
                for (let user of this.usersDisplay) {
                    if(user.maintech){
                        user.maintech.forEach(techUser => {
                            let hasToBePushed = true
                            for(let oneTechFromArrayTransition of techsArrayTransition) {
                                if(oneTechFromArrayTransition.name == techUser) {
                                    hasToBePushed = false
                                }
                            }
                            if(hasToBePushed) {
                                for (let onetech of this.listTechs) {
                                    if(onetech.name == techUser) {
                                    techsArrayTransition.push(onetech)
                                    }
                                }
                            }
                        })
                    }
                }
            this.listTechsAvailable = techsArrayTransition
        },
        showListTechs(){
            this.modalShow = ! this.modalShow
            this.loadAvailableTechsFromUsers()
        }
    }
}
</script>

<style scoped>
    .tech-global{
        display: flex;
        width: 35%;
    }
    input{
        width: 80%;
    }
    header{
        border-bottom: 0px;
    }
    button{
        margin: 30px 0;
        padding: 8px 45px;
        font-size: 24px;
        color: white;
        background-color: #49C1CC;
        border-radius: 5px;
        cursor: pointer;
    }
    button:hover{
        color: #49C1CC;
        background-color: white;
    }
    .tech-container{
        display: flex;
        flex-wrap: wrap;
    }
    .card-tech{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 103px;
        min-height: 160px;
    }
    .icon{
        font-size: 80px;
    }
    .input-card{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 16px 0px 25px 0;
    }
    .input-card input{
        padding: 5px 5px;
        border-radius: 8px;
        border: 2px solid #D1E6E8;
    }
    .input-card input::placeholder{
        text-align: center;
    }
    .icon:hover{
        font-size: 83px;
    }
    .not-found{
        text-align: center;
    }
</style>