<template>
    <button class="reset" v-on:click="reset">Réinitialiser</button>
</template>

<script>
export default {
    name: "resetFilter",
    props: ['reset']
}
</script>

<style scoped>
    .reset{
        margin: 30px 0;
        padding: 8px 45px;
        font-size: 24px;
        color: white;
        background-color: rgb(252, 26, 26);
        border-radius: 5px;
        cursor: pointer;
    }
    .reset:hover{
        color: rgb(252, 26, 26);
        background-color: white;
    }
</style>