<template>
    <div class="notFound">
        <h2>Désolé, cette page n'existe pas!</h2>
        <button v-on:click="goHome">Revenir à la page d'accueil</button>
    </div>
</template>

<script>
export default {
    name: "notFound",
    methods: {
        async goHome(){
          await this.$router.push({name: 'login'})  
        }
    }
}
</script>

<style scoped>
    .notFound{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #49C1CC;
    }
    .notFound h2{
        color: white;
    }
    .notFound button{
        margin-top: 20px;
        border-radius: 7px;
        padding: 10px 20px;
    }
</style>