<template>
    <div>
        <font-awesome-icon v-if="!isAnUdapte" v-on:click="showCreateMission" icon="plus-square"/>
        <button class="udapte-button" v-if="isAnUdapte" v-on:click="showCreateMission">Modifier</button>
        <b-modal hide-footer v-model="modalShow">
            <div class="create-mission">
                <div class="input-text">
                     <label for="role">Role</label>
                    <input type="text" name="role" v-model="mission.role">
                </div>
                <div class="input-text">
                    <label for="client">Client</label>
                    <input type="text" name="client" v-model="mission.client">
                </div>
                <div class="input-text">
                    <label for="city">Ville</label>
                    <input type="text" name="city" v-model="mission.city">
                </div>
                <div class="date-picker">
                    <button v-on:click="showStartDate = !showStartDate">Date de début de la missions</button>
                    <b-modal size="sm" hide-footer v-model="showStartDate">
                        <v-date-picker locale="en" mode="single" v-model="mission.startDate" color="indigo" is-inline/>
                    </b-modal>
                    <span v-if="mission.startDate">{{mission.startDate}}</span>      
                </div>
                <div class="date-picker">
                    <button v-on:click="showEndDate = !showEndDate">Date de fin de la missions</button>
                    <b-modal size="sm" hide-footer v-model="showEndDate">
                        <v-date-picker locale='fr' mode="single" v-model="mission.endDate" color="indigo" is-inline/>
                    </b-modal>
                    <span v-if="mission.endDate">{{mission.endDate}}</span>
                </div>
                <div class="inputTechSignIn">
                    <h3 for="techs">Technologies utilisées</h3>
                    <div class="formTechSignIn" >
                        <div v-bind:key="item" v-for="(tech,item) in listTechs">
                            <label v-bind:for="tech.name">{{tech.name}}</label>
                            <input type="checkbox" v-model="mission.techs" v-bind:value="tech.name">
                        </div>
                    </div>
                </div>
                <div>
                    <textarea placeholder="Décris ta mission" type="text" name="description" v-model="mission.description"/>
                </div>
                <div class="button-menu">
                    <button v-on:click='sendMission'>Valider</button>
                    <button v-on:click='cancelCreateMission'>Annuler</button>
                </div>
                <span>{{error}}</span>
            </div>
        </b-modal>
    </div>
</template>

<script>
import {loadTechs} from '../../methods/apiCall'
import axios from 'axios'
import {configHeader} from '../../auth/config'
import {url} from "../../config/environment"

export default {
    name: "createMisssion",
    data(){
        return{
            modalShow: false,
            mission:{
                userId : '',
                client: '',
                role: '',
                city: '',
                techs: [],
                description: '',
                startDate: '',
                endDate: ''
            },
            listTechs: [],
            showStartDate: false,
            showEndDate: false,
            error: ''
        }
    },
    props: ["isAnUdapte", "missionUser"],
    methods:{
        async showCreateMission(){
            this.modalShow = !this.modalShow
            this.listTechs = await loadTechs()
        },
        async sendMission(){
            const missionTransition = {}
            if(this.mission.startDate > this.mission.endDate){
                this.error = "Les dates ne correspondent pas"
            } else{
                try{
                    if(!this.isAnUdapte){
                        const response = await axios.get(`${url}/me`, configHeader())
                        this.mission.userId  = response.data.id
                    }
                    for(let missionUser in this.mission){
                        if(missionUser == 'startDate' || missionUser == 'endDate'){
                            missionTransition[`${missionUser}`] = this.mission[missionUser].toLocaleDateString()
                            
                        } else if(this.mission[missionUser]){
                            missionTransition[`${missionUser}`] = this.mission[missionUser]
                        }
                    }
                    console.log(missionTransition)
                    if(this.isAnUdapte){
                        await axios.put(`${url}/missions`, missionTransition, configHeader())
                    }else{
                        await axios.post(`${url}/missions`, missionTransition, configHeader())
                    }
                    await this.$emit('loadUserProfile')
                    this.modalShow = false
                }catch(error){
                    throw error
                }
            }
        },
        cancelCreateMission(){
            this.modalShow = false
        }
    },
    created(){
        if(this.isAnUdapte){
            this.mission = this.missionUser
        }
    }
}
</script>

<style scoped>
    .inputTechSignIn{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .formTechSignIn{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .formTechSignIn div{
        padding: 3px 10px;
    }
    h3{
        font-size: 25px;
    }
    .formTechSignIn input{
        margin: 0 7px;
    }
    .create-mission{
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
    }
    .input-text label{
        width: 15%;
    }
    .input-text input{
        width: 50%;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.356);
    }
    .input-text{
        margin: 5px 0;
    }
    .date-picker{
        margin: 5px 0;
    }
    .date-picker button{
        background-color: white;
        border-radius: 6px;
        padding: 3px 5px;
    }
    textarea{
        width: 100%;
    }
    .button-menu{
        margin-top: 10px;
    }
    .button-menu button{
        border-radius: 5px;
        margin-right: 10px;
    }
    .udapte-button{
        border-radius: 7px;
    }
</style>