<template>
    <div>
        <font-awesome-icon v-on:click="modalShow = !modalShow" icon="plus-square"/>
        <b-modal hide-footer v-model="modalShow">
            <div class="create-mission">
                <div class="inputTechSignIn">
                    <h3 for="techs">Technologies maitrisées</h3>
                    <div class="formTechSignIn" >
                        <div v-bind:key="item" v-for="(tech,item) in listTechs">
                            <label v-bind:for="tech.name">{{tech.name}}</label>
                            <input type="checkbox" v-model="techsUser" v-bind:value="tech.name">
                            
                        </div>
                    </div>
                </div>
                <div class="button-menu">
                    <button v-on:click='sendTechs'>Valider</button>
                    <button v-on:click='!modalShow'>Annuler</button>
                </div>
            </div>
        </b-modal>
    </div>
</template>

<script>
import axios from 'axios'
import {configHeader} from '../../auth/config'
import {url} from "../../config/environment"

export default {
    name: 'addTech',
    data(){
        return{
            modalShow: false,
            techsUser: [],
            idUser: ''
        }  
    },
    props: ['techUser', 'listTechs'],
    methods: {
        async sendTechs(){
            try{
                const response = await axios.get(`${url}/me`, configHeader())
                const {name, firstname, email} = response.data
                await axios.put(`${url}/users`, {name, firstname, email, maintech : this.techsUser }, configHeader())
                await this.$emit('loadUserProfile')
                this.modalShow = false
            }catch(error){
                throw error
            }
        }
    },
    created(){
        for(let tech of this.techUser){
            this.techsUser.push(tech.name)
        }
    }
}
</script>

<style scoped>
    .inputTechSignIn{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .formTechSignIn{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .formTechSignIn div{
        padding: 3px 10px;
    }
    h3{
        font-size: 25px;
    }
    .formTechSignIn input{
        margin: 0 7px;
    }
    .button-menu{
        margin-top: 10px;
    }
    .button-menu button{
        border-radius: 5px;
        margin-right: 10px;
    }
</style>