<template>
    <div class="login">
        <h2>Communauté La Mobilery</h2>
        <button v-on:click="logIn" class="googleBtn">
            <div>
                <img src="http://assets.stickpng.com/thumbs/5847f9cbcef1014c0b5e48c8.png" alt="">
            </div>
            <span>Se connecter avec Google</span>
        </button>
        <div class="error" v-if="errorSignIn">
            <span>{{errorSignIn}}</span>
        </div>
    </div>
</template>


<script>
import axios from 'axios'
import {url} from "../../config/environment"
import {getTokensFromCodeAuth, getMe, checkUserAuth, inscription} from '../../auth'

export default {
    name: 'login',
    data(){
        return{
            errorSignIn: ''
        }     
    },
    methods: {
        async logIn(){
            try{
                const response = await this.$gAuth.getAuthCode()
                // Récupération des tokens d'identification du User
                await getTokensFromCodeAuth(response)
                const data = await checkUserAuth()
                const user = await getMe()
                console.log('user', user)
                if(!data){
                    this.errorSignIn = 'Nos serveurs ne repondent pas, merci de ressayer dans quelques minutes'
                }else if(typeof data != 'object'){
                    await this.$router.replace('/')
                }else{
                    await this.$router.replace({path: `profile/${user.data.email}`, params: {userLogIn : data}})
                    await inscription(data)
                }
            }catch(error){
                throw error
            }
        }
    }
}
</script>

<style scoped>
    .login{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #49C1CC;
    }
    h2{
        color: white;
        margin-bottom: 35px;
        font-size: 40px;
    }
    .googleBtn{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px 20px;
        border-radius: 8px;
        margin-top: 15px;
        width: 35%;
        border: 1px solid white
    }
    .googleBtn div{
        width: 20%;
    }
    img{
        width: 40px;
        display: flex;
        justify-content: flex-start;
    }
    .googleBtn span{
        font-size: 18px;
    }
    .googleBtn:hover{
       border: 1px solid #49C1CC
    }
    .error{
        color: red;
        background-color: white;
        padding: 4px;
        margin-top: 10px;
        border-radius: 6px;
    }
</style>